/* courtesy of https://jamescampbell.us  as part of the image-protector package. for instructions, please see the README file */

/* media queries target mobile devices */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/* iPads */
   	body {-webkit-touch-callout: none;}
   	.protected {
   		-webkit-touch-callout: none;
	   	-webkit-user-select: none; 
  		pointer-events:none;
   	}  
}

@media only screen and (max-device-width: 480px) {
/* iPhone [portrait + landscape] */
 	body {-webkit-touch-callout: none;}
 	.protected {-webkit-touch-callout: none;
	 	-webkit-user-select: none; 
  pointer-events:none;
 	}
 }
 #just-try-iphone {
     display:block;
 }
